*.lock
*.log
*.gen
*.zip
.metadata/.plugins/org.eclipse.core.resources/.history/11/f0ee292042b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/26/e0afd75d41b3001417199131e52ff862
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/.history/3c/f0d09dcf41b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/2f/706da91042b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/5a/f0d6d75d41b3001417199131e52ff862
.metadata/.plugins/org.eclipse.core.resources/.history/50/10d3497041b3001417199131e52ff862
.metadata/.plugins/org.eclipse.core.resources/.history/5c/f0ae66e741b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/5c/f0ae66e741b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/91/9051f9d541b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/b/d070217c41b3001417199131e52ff862
.metadata/.plugins/org.eclipse.core.resources/.history/c4/20be30de41b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/c6/a03583ee41b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/ca/1056770f42b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/ca/1056770f42b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/cd/700c0a0742b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/d3/a0c79f0842b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/ea/a013d75d41b3001417199131e52ff862
.metadata/.plugins/org.eclipse.core.resources/.history/ea/a013d75d41b3001417199131e52ff862
*.prefs
*.index
*.cfs
*.properties
*.running
*.ini
*.classpath
*.registry
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.fx.ide.css.cssext.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.fx.ide.css.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.launch
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
*.del
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/Assignments.container
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_c
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_6
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/timestamp
.metadata/.plugins/org.eclipse.m2e.core/nexus/ebc778f0968f1dcbc80dfd6b594fd0dd/segments_3
*.lifecyclemapping
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.core.resources/.history/eb/105158fc41b3001410e6b16943ec65df
.metadata/.plugins/org.eclipse.core.resources/.history/f/307f4ddc41b3001410e6b16943ec65df
*.markers
*.snap
*.version
*.resources
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
*.mark
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml